body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

header {
  background: white;
  padding: 60px 0;
  border-bottom: 1px solid #ddd;
}

h1 {
  margin: 0;
  font-size: 48px;
}

.subtitle {
  color: #666;
}

section {
  padding: 60px 0;
}